<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Localization app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D642C158200D6C4C00EDBD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D642C16C200D6C4C00EDBD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D642C177200D6C4C00EDBD4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
